.gradle/
.idea/
javaAlgorithmsLesson2/out/
javaAlgorithmsLesson2/.gradle/
javaAlgorithmsLesson2/build/
javaAlgorithmsLesson3/out/
javaAlgorithmsLesson3/.gradle
javaAlgorithmsLesson3/build/
javaAlgorithmsLesson4/out/
javaAlgorithmsLesson4/.gradle
javaAlgorithmsLesson4/build/
javaAlgorithmsLesson5/out/
javaAlgorithmsLesson5/.gradle
javaAlgorithmsLesson5/build/
javaAlgorithmsLesson6/out/
javaAlgorithmsLesson6/.gradle
javaAlgorithmsLesson6/build/
javaAlgorithmsLesson7/out/
javaAlgorithmsLesson7/.gradle
javaAlgorithmsLesson7/build/
javaAlgorithmsLesson8/out/
javaAlgorithmsLesson8/.gradle
javaAlgorithmsLesson8/build/